.locationSVG {
  height: 100%;
  width: 100%;
  margin: 1rem 0 0;
  border: 0;
  padding: 0;
  background-color: rgb(26, 26, 26);
}

.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0 auto;
  padding-right: 70px;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 1.3rem 0.4rem;
  margin-top: 0.1rem;
  font-size: 1rem;
  text-align: center;
  color: rgb(204, 204, 204);
}

.selected {
  color: rgb(0,237,94);
}

.runTitle {
  height: 29px;
  width: 710px;
  position: absolute;
  bottom: 0px;
  left: 120px;
  cursor: pointer;
  color: rgb(224, 237, 94);
}

/* 移除了隐私模式按钮相关样式 */